@import "./horizontal"

%product-item
	display: flex
	flex-direction: column
	margin-bottom: 40px
	border-bottom: black solid 1px

	img
		width: 380px
		height: 280px

	.product-footer
		display: flex
		flex-direction: column
		padding: 10px

		.type-interact
			@extend %horizontal

			.type-title
				font-size: xx-large

		.product-info
			@extend %horizontal
			margin-bottom: 26px
			margin-top: 10px

			.product-info-title
				font-size: 26px
				font-weight: 400

			.product-info-price
				font-size: 30px

		.product-btn-wrapper
			@extend %horizontal
			margin-bottom: 30px
