.card-footer{
  display: flex;
  align-items: center;
  height: 80px;
  position: fixed;
  width: inherit;
  bottom: 0;
  border-top: solid 1px black;
  justify-content: space-between;
  padding: 10px;
}

.total-price{
  font-size: 24px;
}