.product-item{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.product-item img{
  width: 350px;
  height: 200px;
}

.product-footer{
  padding: 10px;
  border-bottom: 1px solid black;
}

.product-footer-btn-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.product-footer-btn-wrapper a{
  color: white;
}

.product-info-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.products-info-title{
  font-size: 26px;
  font-weight: 400;
}

.products-info-price{
  font-size: 26px;
}