.sort-panel{
  display: flex;
  height: 80px;
  background-color: white;
  align-items: center;
  color: black;
  border-bottom: solid 1px black;
  justify-content: space-between;
}

.price-filter{
  display: flex;
  align-items: center;
}

.price-filter input{
  width: 60px;
  height: 20px;
  margin-top: 10px;
}

.sort-type{
  font-size: 25px;
}

.price-sort{
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
}

.sort-title{
  min-width: 80px;
  font-size: 21px;
}

.sort{
  display: flex;
  align-items: center;
}

.sort-select{
  display: block;
}

.search{
  display: flex;
  align-items: center;
}

.search input{
  margin-top: 10px;
  height: 30px;
  margin-left: 10px;
}

.search-title{
  font-size: 23px;
}