@import "../templates/horizontal"

.sort-panel

	*
		@extend %horizontal

		.sort-type
			display: flex
			align-items: center
			margin-right: 15px
			font-size: 35px
			margin-top: 10px
			cursor: pointer

			&:hover
				font-size: 40px

			&:active
				color: #651fff 

			input
				width: 70px

		input
			height: 35px
			margin-top: 10px
