@media (max-width: 1100px)

	.products-list
		justify-content: center

	.product-detail
		flex-direction: column

	.product-detail-panel
		margin-top: 100px
		margin-left: 0 !important

	.product-detail-image
		width: 70% !important

	.product-detail-info
		margin-top: -70px !important

@media (max-width: 1000px)

	.header-control
		display: none !important

	.burger
		display: block !important

	.sort-panel
		flex-direction: column-reverse

		.search
			margin-top: 10px

	.header-wrapper
		margin-left: 60px
		margin-right: 60px

	.not-found-image
		width: 400px


@media (max-width: 600px)

	.header-wrapper
		margin-left: 40px
		margin-right: 40px

	.header-logo
		margin-top: -5px !important

	.form-wrapper
		width: 300px

	.review-head
		font-size: 18px !important
		flex-direction: column

	.loader
		left: 45%

@media (max-width: 400px)

	.not-found-image
		width: 300px

	.header-wrapper
		margin-left: 20px
		margin-right: 20px

	.empty-card-img
		width: 300px !important

	.product-detail-image
		width: 100% !important

	.product-item

		img
			width: 280px !important
			height: 195px !important

		.sort-type
			font-size: x-large

	.loader
		left: 40%